@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: LucidaConsole;
    src: url("./lucidaconsole.ttf") format("truetype");
}

html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: #fcfcfc;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}
h1 {
    margin: 0;
}

.next-transition {
    transition: all 0.5s ease-in-out;
}

a:hover {
    text-decoration: underline;
}
.img {
    border-radius: 60px;
}
img {
    max-width: 100%;
    display: block;
}