.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.gap-20 {
    gap: 20px;
}
.p-10 {
    padding: 10px;
}
.w-60 {
    width: 60%;
}
.box-shadow {
    box-shadow: 1px 5px 5px lightgray;
}
.bg-white {
    background-color: white;
}
.rounded {
    border-radius: 16px;
}